Resource_1 RCDATA "payloads\\da_x.bin"
Resource_2 RCDATA "payloads\\generic_dump_payload.bin"
Resource_3 RCDATA "payloads\\generic_loader_payload.bin"
Resource_4 RCDATA "payloads\\generic_patcher_payload.bin"
Resource_5 RCDATA "payloads\\generic_preloader_dump_payload.bin"
Resource_6 RCDATA "payloads\\generic_reboot_payload.bin"
Resource_7 RCDATA "payloads\\generic_sram_payload.bin"
Resource_8 RCDATA "payloads\\generic_stage1_payload.bin"
Resource_9 RCDATA "payloads\\generic_uart_dump_payload.bin"
mt2601_payload RCDATA "payloads\\mt2601_payload.bin"
mt6261_payload RCDATA "payloads\\mt6261_payload.bin"
mt6572_payload RCDATA "payloads\\mt6572_payload.bin"
mt6580_payload RCDATA "payloads\\mt6580_payload.bin"
mt6582_payload RCDATA "payloads\\mt6582_payload.bin"
mt6592_payload RCDATA "payloads\\mt6592_payload.bin"
mt6595_payload RCDATA "payloads\\mt6595_payload.bin"
mt6735_payload RCDATA "payloads\\mt6735_payload.bin"
mt6737_payload RCDATA "payloads\\mt6737_payload.bin"
mt6739_payload RCDATA "payloads\\mt6739_payload.bin"
mt6752_payload RCDATA "payloads\\mt6752_payload.bin"
mt6753_payload RCDATA "payloads\\mt6753_payload.bin"
mt6755_payload RCDATA "payloads\\mt6755_payload.bin"
mt6757_payload RCDATA "payloads\\mt6757_payload.bin"
mt6758_payload RCDATA "payloads\\mt6758_payload.bin"
mt6761_payload RCDATA "payloads\\mt6761_payload.bin"
mt6763_payload RCDATA "payloads\\mt6763_payload.bin"
mt6765_payload RCDATA "payloads\\mt6765_payload.bin"
mt6768_payload RCDATA "payloads\\mt6768_payload.bin"
mt6771_payload RCDATA "payloads\\mt6771_payload.bin"
mt6779_payload RCDATA "payloads\\mt6779_payload.bin"
mt6781_payload RCDATA "payloads\\mt6781_payload.bin"
mt6785_payload RCDATA "payloads\\mt6785_payload.bin"
mt6795_payload RCDATA "payloads\\mt6795_payload.bin"
mt6797_payload RCDATA "payloads\\mt6797_payload.bin"
mt6799_payload RCDATA "payloads\\mt6799_payload.bin"
mt6833_payload RCDATA "payloads\\mt6833_payload.bin"
mt6853_payload RCDATA "payloads\\mt6853_payload.bin"
mt6873_payload RCDATA "payloads\\mt6873_payload.bin"
mt6877_payload RCDATA "payloads\\mt6877_payload.bin"
mt6885_payload RCDATA "payloads\\mt6885_payload.bin"
mt6893_payload RCDATA "payloads\\mt6893_payload.bin"
mt8127_payload RCDATA "payloads\\mt8127_payload.bin"
mt8163_payload RCDATA "payloads\\mt8163_payload.bin"
mt8167_payload RCDATA "payloads\\mt8167_payload.bin"
mt8168_payload RCDATA "payloads\\mt8168_payload.bin"
mt8173_payload RCDATA "payloads\\mt8173_payload.bin"
mt8176_payload RCDATA "payloads\\mt8176_payload.bin"
mt8512_payload RCDATA "payloads\\mt8512_payload.bin"
mt8516_payload RCDATA "payloads\\mt8516_payload.bin"
mt8590_payload RCDATA "payloads\\mt8590_payload.bin"
mt8695_payload RCDATA "payloads\\mt8695_payload.bin"
Resource_52 RCDATA "payloads\\pl.bin"
Resource_53 RCDATA "payloads\\stage2.bin"
Resource_54 RCDATA "payloads\\win_32"
Resource_55 RCDATA "payloads\\win_64"
